.inputContainer {
  color: var(--primary-color);
  border: none;
  width: 100%;
  height: 40px;
  border-radius: var(--border-radius-small);
  background: rgba(var(--background-color-rgb), 0.5);

  --transition-time: 0.2s;
  position: relative;

  transition: border var(--transition-time) ease-in;

  .inputLabel {
    user-select: none;

    position: absolute;
    top: 50%;
    margin-left: 10px;
    transform: translateY(-50%);

    transition: top var(--transition-time) ease-in,
    margin-left var(--transition-time) ease-in,
    font-size var(--transition-time) ease-in,
    padding var(--transition-time) ease-in,
    transform var(--transition-time) ease-in;
  }

  .inputField {
    margin: 0 5px;
    width: 100%;
    height: 100%;

    border: none;
    background: transparent;
    visibility: hidden;

    z-index: 20;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--secondary-color);
    }
  }

  &:hover, &:focus-within, &:has(.inputField:not(:placeholder-shown)) {
    border: 1px solid var(--primary-color);

    .inputLabel {
      top: -10px;
      margin-left: 5px;
      font-size: 12px;
      background: rgba(var(--background-color-rgb), 0.5);
      backdrop-filter: blur(5px);
      border-radius: 4px;
      padding: 0 5px;
      transform: translateY(0);
    }

    .inputField {
      visibility: unset;
    }
  }
}