.page {
  width: 100%;
  height: 100%;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

:root {
  --primary-color: #ea8bff;
  --primary-color-rgb: 234, 139, 255;
  --secondary-color: #ffb1f0;
  --secondary-color-rgb: 255, 177, 240;
  --background-color: #ffffff;
  --background-color-rgb: 255, 255, 255;
  --font-color: #333333;

  --border-radius-large: 16px;
  --border-radius-middle: 12px;
  --border-radius-small: 8px;
  --border-color: #656565;

  --art-font: 'Comic Sans MS', cursive, sans-serif;
}