.container {
  width: max(20%, 200px);
  height: max(40%, 400px);
  background: rgba(var(--secondary-color-rgb), 0.3);
  border-radius: var(--border-radius-large);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding: 50px 20px;
  position: relative;
  overflow: hidden;
  transition: background 0.3s ease;

  .prompt {
    position: absolute;
    font-family: var(--art-font), serif;
    font-size: 300px;
    color: rgba(var(--primary-color-rgb), 0.3);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
  }

  .button {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: var(--border-radius-small);
    background: var(--primary-color);
    color: var(--background-color);
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background: var(--secondary-color);
    }

    z-index: 20;
  }

  .next {
    --radius: 80px;
    position: absolute;
    bottom: calc(0px - var(--radius));
    right: calc(0px - var(--radius));
    width: calc(2 * var(--radius));
    height: calc(2 * var(--radius));
    border-radius: 50%;
    background: radial-gradient(circle at center, var(--next-color), transparent);
    user-select: none;
    z-index: 5;
    transition: transform 0.3s ease, background 0.3s ease;
    transform: scale(1);

    &:hover {
      transform: scale(1.2);

      &::before {
        content: var(--next-text);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-100%, -100%);
        color: var(--background-color);
        font-size: 16px;
        user-select: none;
        padding: 5px;
      }
    }
  }
}