.container {
  width: max(20%, 200px);
  height: max(40%, 400px);
  background: rgba(var(--secondary-color-rgb), 0.3);
  border-radius: var(--border-radius-large);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  padding: 50px 20px;
  position: relative;

  .prompt {
    position: absolute;
    font-family: var(--art-font), serif;
    font-size: 300px;
    color: rgba(var(--primary-color-rgb), 0.3);
    top: 5%;
  }

  .input {
    border: none;
    height: 40px;
    border-radius: var(--border-radius-small);
    background: rgba(var(--background-color-rgb),0.5);

    &:hover {
      border: 2px solid var(--primary-color);
    }

    &:focus {
      outline: none;
      border: 2px solid var(--primary-color);
    }

    z-index: 20;
  }

  .button {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: var(--border-radius-small);
    background: var(--primary-color);
    color: var(--background-color);
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background: var(--secondary-color);
    }

    z-index: 20;
  }
}